


<div  id= "navbar" >

    <a href=#div-1> <img class= "icons-navbar" src="../../../assets/1-Home-Pink.png"> </a> 
    <a href=#div-6> <img class= "icons-navbar" src="../../../assets/3-School.png"> </a> 
    <a href=#div-4> <img class= "icons-navbar" src="../../../assets/4-Work.png"> </a> 
    <a target="_blank" href="https://www.linkedin.com/in/lourdes-bellante/"> <img class= "icons-navbar" src="../../../assets/5-Linkedin.png"> </a> 
    <a target="_blank" href="mailto:lourdesbellante@gmail.com"> <img class= "icons-navbar" src="../../../assets/6-E-mail.png"> </a> 
    <a target="_blank" href="https://api.whatsapp.com/send?phone=1131762584&text=Hello!%20I%20saw%20your%20portfolio%20and%20I%20would%20be%20interested%20to%20know%20more%20about..."> <img class= "icons-navbar" src="../../../assets/7-Whatsapp.png"> </a> 
    
    
    <a target="_blank" href="/login"> <img class= "icons-navbar" src="../../../assets/8-Sign-in-Pink.png"> </a> 
    
    <a target="_blank" href="/login"> <p style="color:#FA4BC5" *ngIf="!isLogged">Log in</p> </a> 
    <a  href="/login"> <p style="color:#FA4BC5" *ngIf="isLogged">Log out</p> </a> 

</div>

