<div class="about-me-all">
    
    <div id="about-me-div-1">

        <div> 
            <img src= "../../../assets/Icon.png" class= "img-me"> 
        </div>

{{persona.nombre}}
        
        <div id="about-me-title"> 
            <p class="text-color">  {{persona.nombre}}  </p>
            <label> {{persona.apellido}} </label>
            <p id="my-rol">{{persona.nombre}}  Graphic Designer & Full Stack Developer</p>
        </div>

    </div>

    <div id="about-me-div-2"> 
        <p class="text-color">ABOUT ME:</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas ullam, dicta enim vero ipsum itaque vitae facere facilis ad accusantium quia accusamus nam distinctio. Eos amet quisquam in sit consectetur! </p>
    
    </div>

</div>


