<div class="container">

<p class="subtitle">MY EDUCATION:</p>
<h1> <br> </h1>   
<div class="row">

    <div class="col-lg-2" *ngIf="isLogged">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            New education
        </button>
        <h1> <br> </h1>   
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Education of edu">
                    <h1> <br> </h1>   
                    <td>
                        <h4 style="color: #FA4BC5;">{{Education.nombreEducacion}}</h4>
                    </td>
                    <td style="color: #FFFFFF;">{{Education.descripcionEducacion}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" routerLink="/editedu/{{Education.id}}">
                            <i class="bi bi-pencil"></i> </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Education.id)">
                            <i class="bi bi-trash"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

 </div>

</div>