<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <h1> <br> </h1>   
                <div class="form-group">
                    <label for="nombreEducacion" style="color: #FFFFFF;" >Name for Education Institute</label>
                    <input type="text" class="form-control" id="nombreEducacion" name="nombreEducacion" [(ngModel)]="nombreEducacion" required>
                </div>
                <h1> <br> </h1>   
                <div class="form-group">
                    <label for="descripcionEducacion" style="color: #FFFFFF;"  >Education´s description</label>
                    <input type="text" class="form-control" id="descripcionEducacion" name="descripcionEducacion" [(ngModel)]="descripcionEducacion" required>
                </div>
                <h1> <br> </h1>   
                <button class="btn btn-primary">
                    ADD EDUCATION
                </button>
            </form>
        </div>
    </div>
</div>