<div  id= "navbar" >

    <a href=""> <img class= "icons-navbar" src="../../../assets/1-Home-Pink.png"> </a> 
    <a href=""> <img class= "icons-navbar" src="../../../assets/3-School.png"> </a> 
    <a href=""> <img class= "icons-navbar" src="../../../assets/4-Work.png"> </a> 
    <a href=""> <img class= "icons-navbar" src="../../../assets/5-Linkedin.png"> </a> 
    <a href=""> <img class= "icons-navbar" src="../../../assets/6-E-mail.png"> </a> 
    <a href=""> <img class= "icons-navbar" src="../../../assets/7-Whatsapp.png"> </a> 
    <a href=""> <img class= "icons-navbar" src="../../../assets/8-Sign-in-Pink.png"> </a> 

</div>

