<p class="subtitle">HARD & SOFT SKILLS:</p>

<div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="95"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'Front End'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            [subtitle]="'HTML & CSS'"
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"

        ></circle-progress>

    </div>



    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="60"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'Data bases'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            [subtitle]="'SQL & MYSQL'"
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"
            
        ></circle-progress>

    </div>



    
    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="40"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'Data bases'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            [subtitle]="'JS JAVA RUBY'"
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"
            
        ></circle-progress>

    </div>



    
    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="85"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'Microsoft'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            [subtitle]="'Power Apps & Logics Apps'"
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"
            
        ></circle-progress>

    </div>



    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="50"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'Others'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            [subtitle]="'Git & Github'"
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"
            
        ></circle-progress>

    </div>



    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="80"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'RPA'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            [subtitle]="'Robocorp'"
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"
            
        ></circle-progress>

    </div>




    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="90"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'Design'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            [subtitle]="'Photoshop & Ilustrator'"
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"
            
        ></circle-progress>

    </div>



    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="55"
            [radius]="100"

            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FA4BC5'"
            [innerStrokeColor]="'#D131A1'"
            [animation]="true"
            [animationDuration]="300"

            [title]="'English'"
            [titleFontSize]="'25'"	
            [titleColor]="'#FA4BC5'"
            
            
            [subtitleFontSize]="'16'"
            [subtitleColor]="'#FFFFFF'"

            [showUnits]="false"
            
        ></circle-progress>

    </div>


    
</div>