<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <h1> <br> </h1>   
                <div class="form-group">
                    <label for="nombreHabilidades" style="color: #FFFFFF;" >Skill´s name</label>
                    <input type="text" class="form-control" id="nombreHabilidades" name="nombreHabilidades" [(ngModel)]="nombreHabilidades" required>
                </div>
                <h1> <br> </h1>   
                <div class="form-group">
                    <label for="descripcionHabilidades" style="color: #FFFFFF;"  >Enter a percentage number</label>
                    <input type="text" class="form-control" id="descripcionHabilidades" name="descripcionHabilidades" [(ngModel)]="descripcionHabilidades" required>
                </div>
                <h1> <br> </h1>   
                <button class="btn btn-primary">
                    ADD 
                </button>
            </form>
        </div>
    </div>
</div>
