<p class="subtitle">MY EDUCATION:</p>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class="column-about-me">

        <p class="title-about-me">RPA DEVELOPER</p>

        <p class="text-about-me" class="text-color"> Aug 2021 - PRESENT </p>

        <p class="text-about-me">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in eaque rem deleniti eum sunt repellendus magni. Veritatis accusamus perferendis neque itaque eaque deleniti. Veniam, laudantium aliquam? Vitae, repudiandae mollitia.
        </p>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class="column-about-me">

        <p class="title-about-me">COMMUNITY MANAGER</p>

        <p class="text-about-me" class="text-color"> JUN 2021 - MARCH 2022 </p>

        <p class="text-about-me">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in eaque rem deleniti eum sunt repellendus magni. Veritatis accusamus perferendis neque itaque eaque deleniti. Veniam, laudantium aliquam? Vitae, repudiandae mollitia.
        </p>

    </div>
 </div>

