.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary {
    background-color: #FA4BC5 !important;
    border-color: #FA4BC5 !important;
  }
.btn-primary:focus {
    background-color: #FA0BC9 !important;
    border-color: #FA0BC9 !important;
}
.btn-outline-primary {
    background-color: #FA0BC9 !important;
    color: #FA4BC5 !important;
}
.btn-primary {
    border-color: #FA0BC9 !important;
    forced-color-adjust: #FA4BC5 !important;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    
}

.container{
    display: table;
    position: relative;
    margin-top: 10%;
    width: 50%;

}