<div id="div-1">
    <app-logo-ap></app-logo-ap>
</div>

<div id= "sticky-elements">
    <app-nav></app-nav>  
</div>
    
<div id="div-3">
  <app-header></app-header>
</div>

<div id="div-4">
    <app-about-me></app-about-me> 
</div>

<div id="div-5">
    <app-experience></app-experience>
</div>

<div id="div-6">
    <app-education></app-education>
</div>

<div id="div-7">
    <app-hands></app-hands>
</div>

<div id="div-8">
    <app-proyects></app-proyects>
</div>

<div id="div-9">
    <app-footer></app-footer>
</div>